{% extends 'base.html' %}
{% load static %}
{% load menu %}

{% block title %}{{ title }} :: {{ block.super }}{% endblock %}

{% block content %}

{% block slider_area %}
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-9 col-md-9 col-md-12">
                        <div class="slider_text text-center">
                            <div class="deal_text">
                                <span>Big Deal</span>
                            </div>
                            <h3>Burger <br>
                                Bachelor</h3>
                            <h4>Maxican</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center slider_bg_2 overlay">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-9 col-md-9 col-md-12">
                        <div class="slider_text text-center">
                            <div class="deal_text">
                                <span>Big Deal</span>
                            </div>
                            <h3>Burger <br>
                                Bachelor</h3>
                            <h4>Maxican</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block menu %}
<div class="best_burgers_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text-center mb-80">
                    <a href="{% url 'home' %}">
                        <span>Burger Menu</span>
                        <h3>Best Ever Burgers</h3>
                    </a>
                </div>
            </div>
        </div>

        {% show_menu %}

        <div class="row">
            {% for product in products %}
            <a href="{{ product.get_absolute_url }}">
                <div class="col-xl-6 col-md-6 col-lg-6">
                    <div class="single_delicious d-flex align-items-center">
                        {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        {% else %}
                        <img src="https://picsum.photos/id/1060/166/166/?blur=2" alt="{{ product.name }}" class="thumb">
                        {% endif %}
                        <div class="info">
                            <h3><a href="{{ product.get_absolute_url }}"> {{ product.name }}</a></h3>
                            <p>{{ product.short_desription }}</p>
                            <span>{{ product.price }} $</span>
                            <a href="#" class="boxed-btn3">Order Now</a>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}

        </div>

        {% if page_obj.has_other_pages %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">

                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
                {% endif %}

                {% for p in page_obj.paginator.page_range %}
                {% if page_obj.number == p %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1">{{ p }}</a>
                </li>
                {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                {% endif %}

            </ul>
        </nav>
        {% endif %}

    </div>
</div>
{% endblock %}

{% block burger_president %}
<div class="Burger_President_area">
    <div class="Burger_President_here">
        {% for premium in premiums %}
        <div class="single_Burger_President">
            <div class="room_thumb">
                {% if premium.image %}
                <img src="{{ premium.image.url }}">
                {% else %}
                <img src="https://picsum.photos/id/1060/166/166/?blur=2" alt="{{ premium.name }}" class="thumb">
                {% endif %}
                <div class="room_heading d-flex justify-content-between align-items-center">
                    <div class="room_heading_inner">
                        <h3>Best seller</h3>
                        <span>{{ premium.price }}</span>
                        <h3>{{ premium.name }}</h3>
                        <a href="#" class="boxed-btn3">Order Now</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block about %}
<div class="about_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="about_thumb2">
                    <div class="img_1">
                        <img src="{% static 'img/about/1.png' %}" alt="">
                    </div>
                    <div class="img_2">
                        <img src="{% static 'img/about/2.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 offset-lg-1 col-md-6">
                <div class="about_info">
                    <div class="section_title mb-20px">
                        <span>About Us</span>
                        <h3>Best Burger <br>
                            in your City</h3>
                    </div>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour, or randomised words which don't look even slightly
                        believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
                        anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the
                        Internet tend to repeat predefined chunks as necessary, making this the first true generator on
                        the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model
                        sentence structures, to generate</p>
                    <div class="img_thumb">
                        <img src="{% static 'img/jessica-signature.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% include 'store/inc/_testimonials.html' %}

{% include 'store/inc/_instragram.html' %}

{% endblock %}